Repository canonical/ubuntu-desktop-installer, pull requests merged in 2023-06, with the labels that each got.

#2039 l10n: translations update from Hosted Weblate
  packages/ubuntu_wsl_setup/lib/l10n/app_da.arb
Labels: l10n

#2037 l10n: translations update from Hosted Weblate
  packages/ubuntu_desktop_installer/lib/l10n/app_da.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_pt.arb
Labels: l10n

#2080 ci: specify flutter version as an environment variable
  .github/workflows/ci.yml
  .github/workflows/installer.yaml
  .github/workflows/wsl.yaml
Labels: ci

#2090 l10n: translations update from Hosted Weblate
  packages/ubuntu_desktop_installer/lib/l10n/app_sk.arb
Labels: l10n

#2106 refactor(test): make better use of ubuntu_test helpers for buttons
  packages/ubuntu_desktop_installer/test/active_directory/active_directory_page_test.dart
  packages/ubuntu_desktop_installer/test/identity/identity_page_test.dart
  packages/ubuntu_desktop_installer/test/keyboard/keyboard_page_test.dart
  packages/ubuntu_desktop_installer/test/locale/locale_page_test.dart
  packages/ubuntu_desktop_installer/test/network/network_page_test.dart
  packages/ubuntu_desktop_installer/test/source/source_page_test.dart
  packages/ubuntu_desktop_installer/test/storage/installation_type/installation_type_page_test.dart
  packages/ubuntu_desktop_installer/test/storage/manual/manual_storage_page_test.dart
  packages/ubuntu_desktop_installer/test/storage/security_key/security_key_page_test.dart
  packages/ubuntu_desktop_installer/test/storage/select_guided_storage/select_guided_storage_page_test.dart
  packages/ubuntu_desktop_installer/test/timezone/timezone_page_test.dart
  packages/ubuntu_desktop_installer/test/welcome/welcome_page_test.dart
  packages/ubuntu_wsl_setup/test/profile_setup_page_test.dart
  packages/ubuntu_wsl_setup/test/select_language_page_test.dart
Labels: test

#2147 ci: fix welcome snap symlink
  .github/workflows/welcome.yaml
Labels: ci

#2160 l10n: translations update from Hosted Weblate
  packages/ubuntu_desktop_installer/lib/l10n/app_cs.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_de.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_eo.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_es.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_fr.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_he.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_oc.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_pl.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_pt.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_sk.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_sv.arb
Labels: l10n

#2193 l10n: translations update from Hosted Weblate
  packages/ubuntu_desktop_installer/lib/l10n/app_sv.arb
Labels: l10n
