Repository canonical/ubuntu-desktop-installer, pull requests merged in 2023-05, with the labels that each got.

#1910 ubuntu_wsl_setup: enable lints for tests
  packages/ubuntu_wsl_setup/test/advanced_setup_model_test.dart
  packages/ubuntu_wsl_setup/test/advanced_setup_page_test.dart
  packages/ubuntu_wsl_setup/test/applying_changes_page_test.dart
  packages/ubuntu_wsl_setup/test/configuration_ui_model_test.dart
  packages/ubuntu_wsl_setup/test/configuration_ui_page_test.dart
  packages/ubuntu_wsl_setup/test/installation_slides_page_test.dart
  packages/ubuntu_wsl_setup/test/profile_setup_page_test.dart
  packages/ubuntu_wsl_setup/test/select_language_model_test.dart
  packages/ubuntu_wsl_setup/test/select_language_page_test.dart
Labels: test

#1909 ubuntu-desktop-installer: enable lints in tests
  packages/ubuntu_desktop_installer/test/filesystem/allocate_disk_space/allocate_disk_space_dialogs_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/allocate_disk_space/allocate_disk_space_model_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/allocate_disk_space/allocate_disk_space_page_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/allocate_disk_space/storage_selector_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/allocate_disk_space/storage_table_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/bitlocker/bitlocker_model_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/bitlocker/bitlocker_page_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/installation_type/installation_type_dialogs_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/installation_type/installation_type_model_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/installation_type/installation_type_page_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/security_key/security_key_page_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/select_guided_storage/select_guided_storage_page_test.dart
  packages/ubuntu_desktop_installer/test/identity/identity_model_test.dart
  packages/ubuntu_desktop_installer/test/identity/identity_page_test.dart
  packages/ubuntu_desktop_installer/test/installation_complete/installation_complete_model_test.dart
  packages/ubuntu_desktop_installer/test/installation_complete/installation_complete_page_test.dart
  packages/ubuntu_desktop_installer/test/installation_slides/installation_slides_model_test.dart
  packages/ubuntu_desktop_installer/test/installation_slides/installation_slides_page_test.dart
  packages/ubuntu_desktop_installer/test/installation_slides/slides_test.dart
  packages/ubuntu_desktop_installer/test/keyboard/keyboard_detector_test.dart
  packages/ubuntu_desktop_installer/test/keyboard/keyboard_dialogs_test.dart
  packages/ubuntu_desktop_installer/test/keyboard/keyboard_model_test.dart
  packages/ubuntu_desktop_installer/test/keyboard/keyboard_page_test.dart
  packages/ubuntu_desktop_installer/test/keyboard/keyboard_widgets_test.dart
  packages/ubuntu_desktop_installer/test/locale/locale_model_test.dart
  packages/ubuntu_desktop_installer/test/locale/locale_page_test.dart
  packages/ubuntu_desktop_installer/test/network/network_model_test.dart
  packages/ubuntu_desktop_installer/test/network/network_page_test.dart
  packages/ubuntu_desktop_installer/test/secure_boot/secure_boot_page_test.dart
  packages/ubuntu_desktop_installer/test/services/disk_storage_service_test.dart
  packages/ubuntu_desktop_installer/test/source/source_page_test.dart
  packages/ubuntu_desktop_installer/test/theme/theme_page_test.dart
  packages/ubuntu_desktop_installer/test/timezone/timezone_model_test.dart
  packages/ubuntu_desktop_installer/test/timezone/timezone_page_test.dart
  packages/ubuntu_desktop_installer/test/welcome/rst/rst_model_test.dart
  packages/ubuntu_desktop_installer/test/welcome/rst/rst_page_test.dart
  packages/ubuntu_desktop_installer/test/welcome/welcome_model_test.dart
  packages/ubuntu_desktop_installer/test/welcome/welcome_page_test.dart
  packages/ubuntu_desktop_installer/test/widgets/storage_size_box_test.dart
  packages/ubuntu_desktop_installer/test/write_changes_to_disk/write_changes_to_disk_model_test.dart
  packages/ubuntu_desktop_installer/test/write_changes_to_disk/write_changes_to_disk_page_test.dart
Labels: test

#1927 ci: run all UDI integration tests
  .github/workflows/installer.yaml
Labels: ci

#1921 Translations update from Hosted Weblate
  packages/ubuntu_desktop_installer/lib/l10n/app_fa.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_pt_BR.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_sk.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_tr.arb
Labels: l10n

#1934 Translations update from Hosted Weblate
  packages/ubuntu_wsl_setup/lib/l10n/app_fa.arb
Labels: l10n

#1935 ci: remove broken auto-merge
  .github/workflows/automerge.yaml
Labels: ci

#1941 l10n: translations update from Hosted Weblate
  packages/ubuntu_desktop_installer/lib/l10n/app_ca.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_cs.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_cy.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_de.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_en.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_eo.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_es.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_fa.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_fi.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_fr.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_he.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_hu.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_id.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_ja.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_ko.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_lt.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_ml.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_nb.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_oc.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_pl.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_pt.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_pt_BR.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_ru.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_si.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_sk.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_sv.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_tr.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_uk.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_zh.arb
Labels: l10n

#1965 l10n: translations update from Hosted Weblate
  packages/ubuntu_desktop_installer/lib/l10n/app_cs.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_eo.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_es.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_he.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_hu.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_ko.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_pl.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_sk.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_sv.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_tr.arb
Labels: l10n

#1967 ci: use different branch names for generated l10n & mocks
  .github/workflows/ci.yml
Labels: ci

#2009 chore(ci): add jira synchronization
  .github/sync-gh-jira.yaml
Labels: ci

#2010 fix(ci): move jira sync to workflows directory
  .github/workflows/sync-gh-jira.yaml
Labels: ci

#2011 test(network): add remaining test helpers
  packages/ubuntu_desktop_installer/test/network/connect_view_test.dart
  packages/ubuntu_desktop_installer/test/network/ethernet_view_test.dart
  packages/ubuntu_desktop_installer/test/network/ethernet_view_test.mocks.dart
  packages/ubuntu_desktop_installer/test/network/hidden_wifi_view_test.dart
  packages/ubuntu_desktop_installer/test/network/hidden_wifi_view_test.mocks.dart
  packages/ubuntu_desktop_installer/test/network/network_page_test.dart
  packages/ubuntu_desktop_installer/test/network/test_network.dart
  packages/ubuntu_desktop_installer/test/network/test_network.mocks.dart
  packages/ubuntu_desktop_installer/test/network/wifi_view_test.dart
  packages/ubuntu_desktop_installer/test/network/wifi_view_test.mocks.dart
Labels: test

#2014 test(filesystem): expose mock models for testing the wizard flow
  packages/ubuntu_desktop_installer/test/filesystem/allocate_disk_space/allocate_disk_space_dialogs_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/allocate_disk_space/allocate_disk_space_page_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/allocate_disk_space/test_allocate_disk_space.dart
  packages/ubuntu_desktop_installer/test/filesystem/allocate_disk_space/test_allocate_disk_space.mocks.dart
  packages/ubuntu_desktop_installer/test/filesystem/install_alongside/install_alongside_page_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/install_alongside/test_install_alongside.dart
  packages/ubuntu_desktop_installer/test/filesystem/install_alongside/test_install_alongside.mocks.dart
  packages/ubuntu_desktop_installer/test/filesystem/installation_type/installation_type_dialogs_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/installation_type/installation_type_page_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/installation_type/test_installation_type.dart
  packages/ubuntu_desktop_installer/test/filesystem/installation_type/test_installation_type.mocks.dart
  packages/ubuntu_desktop_installer/test/filesystem/security_key/security_key_page_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/security_key/test_security_key.dart
  packages/ubuntu_desktop_installer/test/filesystem/security_key/test_security_key.mocks.dart
  packages/ubuntu_desktop_installer/test/filesystem/select_guided_storage/select_guided_storage_page_test.dart
  packages/ubuntu_desktop_installer/test/filesystem/select_guided_storage/test_select_guided_storage.dart
  packages/ubuntu_desktop_installer/test/filesystem/select_guided_storage/test_select_guided_storage.mocks.dart
  packages/ubuntu_desktop_installer/test/filesystem/test_filesystem.dart
Labels: test

#2019 l10n: translations update from Hosted Weblate
  packages/ubuntu_wsl_setup/lib/l10n/app_id.arb
Labels: l10n

#2020 l10n: translations update from Hosted Weblate
  packages/ubuntu_desktop_installer/lib/l10n/app_ar.arb
  packages/ubuntu_desktop_installer/lib/l10n/app_ru.arb
Labels: l10n

#2023 ci: use conventional commit messages for generated PRs
  .github/workflows/ci.yml
Labels: ci

#2034 ci: specify path filters for mocks & l10n
  .github/scripts/check-outdated-files.sh
  .github/workflows/ci.yml
  .github/workflows/wsl.yaml
Labels: ci
